body {
    background: url("db.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.h7{
    text-align: center;
    color: #F6ECEC;
    font-size: 67px;
    position: absolute;
    top: 03%;
    left: 43%;
    right: 50%;
    transform:translate(-50%, -50%)

}
.convert-button {
    background-color: #6c6cc9;
    color: #FFFFFF;
    font-size: 30px;
    width: 50%;
    height: 50px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    top: 90%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -750%)
}

.convert-button2 {
    background-color: #6c6cc9;
    color: #FFFFFF;
    width: 150%;
    font-size: 30px;
    width: 50%;
    height: 50px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    top: 110%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -750%)
}
body {
    background: url("db.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

/* Media query for minimum width of 500px */
@media screen and (max-width: 750px) {
    .h7 {
        text-align: center;
        color: #F6ECEC;
        font-size: 80px;
        position: absolute;
        top: 03%;
        left: 24%;
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .convert-button {
        background-color: #6c6cc9;
        color: #FFFFFF;
        font-size: 29px;
        width: 80%;
        height: 90px;
        font-weight: normal;
        cursor: pointer;
        position: absolute;
        top: 147%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -750%);
    }

    .convert-button2 {
        background-color: #6c6cc9;
        color: #FFFFFF;
        width: 80%;
        font-size: 30px;
        height: 90px;
        font-weight: normal;
        cursor: pointer;
        position: absolute;
        top: 167%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -750%);
    }
}
