body {
    background: url("db.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.h71{
    text-align: center;
    color: #F6ECEC;
    font-size: 67px;
    position: absolute;
    top: 03%;
    left: 43%;
    right: 50%;
    transform:translate(-50%, -50%)

}
.container11{
    text-align: center;
    color: #F6ECEC;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 36%;
    right: 50%;
    transform:translate(-50%, -50%)

}
.container21 {
    color: #F6ECEC;
    position: absolute;
    top: 60%;
    bottom: 50%;
    left: 36%;
    right: 50%;
    transform:translate(-50%, -50%)
}
.container31 {
    color: #F6ECEC;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 48%;
    right: 10%;
    transform:translate(-50%, -50%)
    
}
.input-field1 {
    width: 600px;
    height: 55px;
    font-size: 22px;
    font-weight: bold;
    background: #1E1E1E;
    color: #FFFFFF;
    margin-bottom: 200px;
}

.convert-button1 {
    background-color: #6c6cc9;
    color: #FFFFFF;
    width: 150%;
    font-size: 30px;
    width: 50%;
    height: 50px;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    top: 50%;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -15%)
}
@media screen and (max-width: 1000px) {
    .h71 {
        text-align: center;
        color: #F6ECEC;
        font-size: 80px;
        position: absolute;
        top: 03%;
        left: 24%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .container11{
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 24%;
        right: 50%;
        transform:translate(-50%, -50%)
    }
    .container21{
        width: 25;
        position: absolute;
        top: 70%;
        bottom: 50%;
        left: 24%;
        right: 50%;
        transform:translate(-50%, -50%)
    }
    .container31 {
        font-size: 140px;
        width: 300px;
        position: absolute;
        top: 62%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform:translate(-50%, -50%)
    }

    .input-field1 {
        top: 80;
        width: 285px;
        font-size: 18px;
    }

    .convert-button1 {
        font-size: 20px;
        width: 60%;
    }
}
